*{
    margin:0;
    padding:0;   
}
#myheader{
    background-color: black;
    color:white;
    display:flex;
    align-items: center;
    padding:8px 35px;
    justify-content: space-between;   
}
#link1 a{
    color:white;
    text-decoration: none;
}
.sub-nav{
    background-color: rgb(3, 2, 54);  
    display:flex;
    align-items: center;
    padding:8px 15px;
    justify-content: space-between;
}
.sub-nav a{
    color:white;
    text-decoration: none;

}

